body {
  background-color: #F3F3F3;
  color: black;
  border-color: #E9492B;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.topnav {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.topnav li {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.topnav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #F4F4F4;
}

button {
  background-color: inherit;
  font-size: 16px;
  margin-top: 0;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
  overflow: visible;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: 1 / 1 / 4 / 4;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
