body {
  background-color: #F3F3F3;
  color: black;
  border-color: #E9492B;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

.topnav {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.topnav li {
  float: left;
  text-align: center;
  padding: 14px 16px;
}

.topnav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #ddd;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


.container {
  border: 1px hidden;
  padding: 0;
  text-align: center;
  overflow-y: auto;
  font-size: 36px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0px;
  cursor: pointer;
  overflow: hidden;
}

.linkbutton {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0px;
  cursor: pointer;
  overflow: hidden;
  width: inherit;
}

/* flask flash styling */
.alert {
  padding: 20px;
  background-color: #ddd;
  color: black;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
