{% extends 'layout.html' %} {% block content %}
<center>
  Add a Tag
<form class="add_tag" method="post">
  {{ form.csrf_token }}
  <p>{{ form.name }}</p>
  <p>{{ form.submit(class="button") }}</p>
</form>
<a href="{{url_for('entry', id=entry.id)}}" class="button">Go Back</a>

<p>{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <span style="color: red;">{{ message }}</span>
    {% endfor %}
  {% endif %}
{% endwith %}
</p>
</center>
{% endblock %}
