{% extends 'layout.html' %} {% block content %}



<div id="wrapper">
  <button type="button" class="create_diary" name="button"><i class="fa-solid fa-plus"></i></button>
  <div class="grid-container">

    <div id="diary_list">
      {% for diary in diary %}
      <div class="diary">
          <a href="/">open {{diary.title}}</a>
      </div>
      {% endfor %}
    </div>
      <div id="entry_list">
        {% for diary in diary %}
        <div class="diary">
            <a href="/">open {{diary.title}}</a>
        </div>
        {% endfor %}
        </div>

        <div id="entry">
          baka
      </div>
</div>
</div>

{% endblock %}
