{% extends 'layout.html' %} {% block content %}


{% for diary in diary%}
Diary: {{diary.title}}
<a href="{{url_for('delete_diary', id=diary.id)}}">delete this diary</a>
<a href="{{url_for('edit_diary', id=diary.id)}}">edit title</a>
<a href="{{url_for('create_entry', id=diary.id)}}">create</a>



<div class="grid-container">
    {% for entry in diary.entries %}
  <div class="entry">
    <p><a href="{{url_for('entry', id=entry.id)}}">{{entry.date}}</a></p>
    {% for activity in entry.activities %}
    <p>hours: {{activity.start_time}} {{activity.end_time}}</p>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% endblock %}
