{% extends 'layout.html' %} {% block content %}

<div class="entry">

<a href="{{url_for('diary', id=entry.diary.id)}}">back</a>
<form class="entry" method="post">
  {{ form.csrf_token }}
<div class="grid-container">
  <div class="entry_info">
  <p>{{entry.date}}</p>
  {% for activity in entry.activities %}
  <p>hours of practice: {{activity.end_time}} {{ activity.start_time}}</p>
  {% endfor %}

  {{ form.start_time }}
  {{ form.end_time }}
  </div>

  <div class="text-editor">

    {{ form.notes }}


</div>
</div>
{{ form.submit }}
</form>

</div>

{% endblock %}
