{% extends 'layout.html' %} {% block content %}

    <p>
      <i class="fa-solid fa-arrow-right"></i>
      <a href="{{url_for('diary', id=entry.diary.id)}}">{{entry.diary.title}}</a>
      <i class="fa-solid fa-arrow-right"></i>
      <a href="{{url_for('entry', id=entry.id)}}">{{entry.date.strftime('%B %d, %Y')}}</a>
    </p>

    <h1>{{entry.date.strftime('%B %d, %Y')}}</h1>

<a href="{{url_for('add_tag', id=entry.id)}}" class="button"><i class="fa-solid fa-plus"></i> Add Tags</a>
<a href="{{url_for('delete_entry', id=entry.id)}}" class="button" style="float:right"><i class="fa-solid fa-xmark"></i> Delete This Entry</a>
<p>

{% if entry.tags|length > 0 %}
    Tags:
    <br>
    {% for tag in entry.tags %}
      {{tag.name}}<a href="{{url_for('remove_tag', id=entry.id, tid=tag.id)}}"> <i class="fa-solid fa-xmark"></i></a>
      <br>
    {% endfor %}
  {% endif %}
</p>

<form id="entry" method="post">
  {{ form.csrf_token }}
  <div class="text-editor">
    {{ form.notes }}
  </div>
  {% for error in form.notes.errors %}
    <span style="color: red;">{{ error }}</span>
  {% endfor %}
{{ form.submit(class="button", style="float:right") }}
</form>
{% endblock %}
