{% extends 'layout.html' %} {% block content %}

<div class="entry">

<a href="{{url_for('diary', id=entry.diary.id)}}">back</a>
<a href="{{url_for('delete_entry', id=entry.id)}}">delete this entry</a>
<a href="{{url_for('add_tag', id=entry.id)}}">add tags</a>

<form class="entry" method="post">
  {{ form.csrf_token }}
<div class="grid-container">
  <div class="entry_info">
  <p>{{entry.date}}</p>
{% for tag in entry.tags %}
  <p>{{tag.name}} <a href="{{url_for('remove_tag', id=tag.id)}}">x</a></p>
{% endfor%}

  </div>

  <div class="text-editor">

    {{ form.notes }}


</div>
</div>
{{ form.submit }}
</form>

</div>

{% endblock %}
