<!-- header -->
<div class="header">

<!-- The topnav -->
<div class="topnav">
  <ul>
    <li>practice tool</li>

    {% if not current_user.is_authenticated %}
    <li style=float:right>
        <a href="{{url_for('register')}}">Register</a>
      </li>
    <li style=float:right>
        <a href="{{url_for('login')}}">Login</a>
      </li>
    {%endif%}
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('index')}}"><i class="fa-solid fa-book-open"></i> Diary List</a></li>

    <li style=float:right>
        <a href="{{url_for('logout')}}">Logout</a>
      </li>
      {%endif%}
  </ul>
</div>
</div>
