{% if form.username.errors %}
    <ul class="errors">
    {% for error in form.username.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form class="register" method="post">

  <!-- Email input -->
  <div class="form-outline mb-4">
    {{form.username}}
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    {{form.email}}
  </div>

  <div class="form-outline mb-4">
    {{form.password}}
  </div>

  <div class="form-outline mb-4">
    {{form.password2}}
  </div>


  <!-- Submit button -->
{{form.submit}}
